<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.cloud.modules.system.role.mapper.SysRoleResourceRefMapper">
  <resultMap id="baseMap" type="com.micro.cloud.modules.system.role.dataobject.SysRoleResourceRef">
    <result column="sys_role_resource_ref_id" property="sysRoleResourceRefId"/>
  </resultMap>

  <resultMap id="resourceSysRoleResourceExternalVoMap" type="com.micro.cloud.modules.system.role.vo.SysRoleResourceExternalVo">
      <result column="sys_role_id" property="roleId"/>
      <result column="idx" property="idx"/>
      <result column="sys_resource_id" property="menuId"/>
      <result column="role_name" property="roleName"/>
      <result column="layout" property="leftRight"/>
  </resultMap>

    <resultMap id="resourceRolesMap" type="com.micro.cloud.modules.system.role.dto.RoleResourceRefMapDto">
        <result column="url" property="url"/>
        <collection property="roleIds" resultMap="roleMap"/>
    </resultMap>
  <resultMap id="roleMap" type="string">
    <result column="roleId"/>
  </resultMap>

  <select id="getUserResourceById" resultType="com.micro.cloud.modules.system.resource.vo.SysResourceRespVO">
    select resource.sys_resource_id as id,
           resource.name,
           resource.type,
           resource.parent_id       as parentId,
           resource.url,
           resource.code,
           resource.layout
    from sys_user_role_ref roleRef
           left join sys_role_resource_ref resourceRef on roleRef.sys_role_id = resourceRef.sys_role_id
           left join sys_resource resource on resourceRef.sys_resource_id = resource.sys_resource_id
    where resource.status = 1
      and roleRef.sys_user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="getResourceRolesMap" resultMap="resourceRolesMap">
    SELECT resource.url,
           ref.sys_role_id AS roleId
    FROM sys_resource resource
           LEFT JOIN sys_role_resource_ref ref
                     ON resource.sys_resource_id = ref.sys_resource_id
           LEFT JOIN sys_role role ON ref.sys_role_id = role.sys_role_id
    WHERE ref.sys_role_id IS NOT NULL
      AND role.status = 1
      AND ref.sys_role_id <![CDATA[ <> ]]>   ''
      AND resource.url IS NOT NULL
      AND resource.url  <![CDATA[ <> ]]>   ''
  </select>
  <select id="getResourceByRoleId" resultType="java.lang.String">
    SELECT DISTINCT resource.sys_resource_id AS id
    FROM sys_resource resource
           LEFT JOIN sys_role_resource_ref resourceRef ON resourceRef.sys_resource_id = resource.sys_resource_id
           LEFT JOIN sys_role role ON resourceRef.sys_role_id = role.sys_role_id
    WHERE resource.`status` = 1
      and role.sys_role_id = #{roleId,jdbcType=VARCHAR}
  </select>
    <select id="getAllRoleResourceRefs"
            resultMap="resourceSysRoleResourceExternalVoMap">
        select a.sys_role_id,a.sys_resource_id,b.role_name,if(c.layout='3','0','1') as layout,c.idx from sys_role_resource_ref a
            left join sys_role b on a.sys_role_id=b.sys_role_id
            left join sys_resource c on a.sys_resource_id=c.sys_resource_id  where c.remark='项目管理导入菜单'
    </select>

</mapper>
