<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.cloud.modules.system.role.mapper.SysRoleMapper">


  <select id="selectByRoleId" parameterType="com.micro.cloud.modules.system.role.vo.SysRoleUserPageReqVO"
    resultType="com.micro.cloud.modules.system.user.dataobject.SysUser">
    select user.sys_user_id, user.user_name, user.work_code, user.certificate_num, user.phone, user.email, user.status,
    user.gender, user.type, user.is_auth, user.data_source, user.create_time, user.real_name
    from sys_role role
    left join sys_user_role_ref ref on role.sys_role_id = ref.sys_role_id
    left join sys_user user on ref.sys_user_id = user.sys_user_id
    left join sys_user_org_ref orgRef on orgRef.sys_user_id = user.sys_user_id
    left join sys_org org on orgRef.sys_org_id = org.sys_org_id
    <where>
      user.sys_user_id IS NOT NULL
      <if test="id != null and id != ''">
        and role.sys_role_id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null and orgId != ''">
        and org.sys_org_id = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and user.user_name like concat ('%', #{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="account != null and account != ''">
        and user.phone like concat ('%', #{account,jdbcType=VARCHAR},'%')
      </if>
      <if test="realName != null and realName != ''">
        and ( user.real_name like concat ('%', #{realName,jdbcType=VARCHAR},'%')
        or user.user_name like concat ('%', #{realName,jdbcType=VARCHAR},'%') )
      </if>
    </where>
    order by ref.update_time
  </select>
  <select id="selectAllUserByRoleId" resultType="java.lang.String">
    select user.sys_user_id
    FROM sys_user user
           LEFT JOIN sys_user_role_ref ref
                     ON user.sys_user_id = ref.sys_user_id
           LEFT JOIN sys_role role on ref.sys_role_id = role.sys_role_id
    where role.sys_role_id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserSimpleInfoByRoleId"
    resultType="com.micro.cloud.modules.system.user.vo.internal.InternalUserSimpleVO">
    select su.sys_user_id as id, su.user_name
    from sys_user su
    left join sys_user_role_ref ref on su.sys_user_id = ref.sys_user_id
    left join sys_role role on role.sys_role_id = ref.sys_role_id
    <where>
      user.sys_user_id IS NOT NULL
      <if test="roleId != null and roleId != ''">
        and role.sys_role_id = #{roleId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != ''">
        and user.user_name like concat ('%', #{userName,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by ref.update_time
  </select>

</mapper>
