<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.datasource.mapper.IcreditDatasourceMapper">

    <update id="updateStatusById" parameterType="java.lang.String">
        UPDATE icredit_datasource
        SET del_flag = 'Y' , status = '1'
        WHERE ID = #{id}
    </update>

    <select id="selectById"
            resultType="com.jinninghui.datasphere.icreditstudio.datasource.entity.IcreditDatasourceEntity">
        select *
        from icredit_datasource
        where ID = #{id}
        limit 1
    </select>

    <select id="hasExit"
            parameterType="com.jinninghui.datasphere.icreditstudio.datasource.web.request.DataSourceHasExistRequest"
            resultType="java.lang.Boolean">
        select 1
        from icredit_datasource
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
        and del_flag = 'N'
        </where>
        limit 1
    </select>

    <select id="selectAll"
            resultType="com.jinninghui.datasphere.icreditstudio.datasource.entity.IcreditDatasourceEntity">
        select *
        from icredit_datasource
        <where>
            <if test="spaceId != null and spaceId != '' ">
                AND space_id = #{spaceId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            and del_flag = 'N'
        </where>
    </select>

    <select id="selectByWorkspaceIdHasExit"
            resultType="java.lang.Boolean">
        select 1
        from icredit_datasource
        where space_id = #{spaceId} and STATUS = '0' and del_flag = 'N'
        limit 1
    </select>
</mapper>
