<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.datasync.mapper.SyncWidetableFieldHiMapper">

    <resultMap id="BaseResultMap" type="com.jinninghui.datasphere.icreditstudio.datasync.entity.SyncWidetableFieldHiEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="wideTableId" column="wide_table_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="BOOLEAN"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="chinese" column="chinese" jdbcType="VARCHAR"/>
            <result property="dictKey" column="dict_key" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,wide_table_id,name,
        type,source,chinese,
        dict_key,version,remark,
        create_time,create_by,update_time,
        update_by,del_flag
    </sql>
</mapper>
