<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.datasync.mapper.SyncTaskHiMapper">

    <resultMap id="BaseResultMap" type="com.jinninghui.datasphere.icreditstudio.datasync.entity.SyncTaskHiEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
            <result property="workspaceId" column="workspace_id" jdbcType="VARCHAR"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="BOOLEAN"/>
            <result property="createMode" column="create_mode" jdbcType="BOOLEAN"/>
            <result property="collectMode" column="collect_mode" jdbcType="BOOLEAN"/>
            <result property="syncMode" column="sync_mode" jdbcType="BOOLEAN"/>
            <result property="execStatus" column="exec_status" jdbcType="BOOLEAN"/>
            <result property="lastSchedulingTime" column="last_scheduling_time" jdbcType="TIMESTAMP"/>
            <result property="taskDescribe" column="task_describe" jdbcType="VARCHAR"/>
            <result property="taskParamJson" column="task_param_json" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="scheduleId" column="schedule_id" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,workspace_id,
        task_name,task_status,create_mode,
        collect_mode,sync_mode,exec_status,
        last_scheduling_time,task_describe,task_param_json,
        version,schedule_id,remark,
        create_time,create_by,update_time,
        update_by,del_flag
    </sql>
</mapper>
