<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreditstudio.workspace.mapper.IcreditWorkspaceMapper">

    <update id="updateStatusById" parameterType="java.lang.String">
        UPDATE icredit_workspace
        SET del_flag = 'Y' , status = '1'
        WHERE ID = #{id}
    </update>

    <select id="hasExit"
            parameterType="com.jinninghui.datasphere.icreditstudio.workspace.web.request.WorkspaceHasExistRequest"
            resultType="java.lang.Boolean">
        select 1
        from icredit_workspace
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
                AND del_flag = 'N'
        </where>
        limit 1
    </select>

    <select id="queryPage"
            resultType="com.jinninghui.datasphere.icreditstudio.workspace.entity.IcreditWorkspaceEntity">
        select DISTINCT w.id, w.status, w.del_flag, w.descriptor, w.director, w.name, w.create_time, w.create_user,
        w.update_time, w.update_user
        from icredit_workspace w, icredit_workspace_user u
        <where>
            <if test="request.spaceId != null and request.spaceId != '' ">
                AND w.id = #{request.spaceId}
            </if>
            <if test="request.name != null and request.name != '' ">
                AND w.name like concat ('%', #{request.name}, '%')
            </if>
            <if test="request.updateUser != null and request.updateUser != '' ">
                AND w.update_user = #{request.updateUser}
            </if>
            <if test="request.updateStartTime != null">
                AND w.update_time > #{request.updateStartTime}
            </if>
            <if test="request.updateEndTime != null">
                AND #{request.updateEndTime} > w.update_time
            </if>
            <if test="request.userId != null and request.userId != ''">
                AND u.user_id = #{request.userId}
            </if>
                AND del_flag = 'N'
                AND w.id = u.space_id
        </where>
        order by w.status asc, w.update_time desc
    </select>
</mapper>
