<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinninghui.datasphere.icreaditstudio.workspace.mapper.IcreditWorkspaceMapper">

    <update id="updateStatusById" parameterType="java.lang.String">
        UPDATE icredit_workspace
        SET del_flag = 'Y'
        WHERE ID = #{id}
    </update>

    <select id="hasExit"
            parameterType="com.jinninghui.datasphere.icreaditstudio.workspace.web.request.WorkspaceHasExistRequest"
            resultType="java.lang.Boolean">
        select 1
        from icredit_workspace
        <where>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
        </where>
        limit 1
    </select>

    <select id="queryPage"
            resultType="com.jinninghui.datasphere.icreaditstudio.workspace.entity.IcreditWorkspaceEntity">
        select w.id, w.status, w.del_flag, w.descriptor, w.director, w.name, w.create_time, w.create_user,
        w.update_time, w.update_user
        from icredit_workspace w, icredit_workspace_user u
        <where>
            <if test="request.name != null and request.name != '' ">
                AND w.name like concat ('%', #{request.name}, '%')
            </if>
            <if test="request.createUser != null and request.createUser != '' ">
                AND w.create_user = #{request.createUser}
            </if>
            <if test="request.updateTime != null">
                AND w.update_time = #{request.updateTime}
            </if>
            <if test="request.userId != null and request.userId != ''">
                AND u.user_id = #{request.userId}
            </if>
        </where>
        and w.id = u.space_id
        order by w.create_time
    </select>
</mapper>
