<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinninghui.datasphere.icreditstudio.modules.system.dict.mapper.CodeInfoMapper">


    <select id="getInfoByKey" resultType="com.jinninghui.datasphere.icreditstudio.modules.system.dict.service.result.CodeInfoResult">
      SELECT code_remark AS label,code_value AS value
      FROM ge_code_info
      WHERE code_type = #{key}
    </select>

</mapper>
