<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinninghui.datasphere.icreditstudio.modules.system.form.mapper.FormDefinitionMapper">


    <update id="updateStatusByIds" parameterType="java.util.List">
      UPDATE ge_form_definition
      SET FORM_STATUS = #{status}
      WHERE ID IN
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
